/* =========================
  Theme Variables
  ========================= */
/* #region Theme Variables */
:root {
  --primary-color: rgb(255, 252, 243);
  --secondary-color: rgb(0, 188, 143);
  --tertiary-color: rgb(187, 187, 187);
  --quaternary-color: rgb(230, 28, 64);
  --font-family-syne: "Syne", sans-serif;
  --font-family-syneExtraBold: "SyneExtraBold", sans-serif;
  --font-family-overpass: "Overpass", sans-serif;
}
/* #endregion Theme Variables */

/* =========================
  Base Reset
  ========================= */
/* #region Base Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 92px;
}
/* #endregion Base Reset */

/* =========================
  Global Elements
  ========================= */
/* #region Global Elements */
body {
  background-color: var(--primary-color);
}

h1 {
  font-family: var(--font-family-syneExtraBold);
  font-weight: 800;
  font-size: 128px;
  color: black;
  text-align: center;
  line-height: 97.5%;
}

h2 {
  font-family: var(--font-family-syneExtraBold);
  font-weight: 800;
  font-size: 78px;
  color: black;
  text-align: start;
}

h2:hover {
  color: var(--secondary-color);
}

h3 {
  font-family: var(--font-family-syneExtraBold);
  font-weight: 800;
  font-size: 45px;
  color: rgba(0, 0, 0, 1);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  padding-left: 100px;
  padding-right: 100px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}
/* #endregion Global Elements */

/* =========================
  Reusable Components
  ========================= */
/* #region Reusable Components */
.primary-btn {
  font-family: var(--font-family-overpass);
  font-weight: 400;
  font-size: 23px;
  padding: 16px 56px;
  border: 4px solid black;
  transition: 0.1s ease-out;
}

.primary-btn:hover {
  padding: 16px 76px;
  font-weight: bold;
}

.header-container {
  width: 100%;
  max-width: 1920px;
  height: 92px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-container {
  width: 100%;
  max-width: 1920px;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.burger-menu {
  width: 40px;
  height: 32px;
  background-image: url("assets/imgs/burger-menu/burger-menu-frame-1.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.burger-menu.is-active {
  animation: burger-open 0.3s steps(1) forwards;
}

.burger-menu.is-closed {
  animation: burger-open 0.3s steps(1) reverse forwards;
}

.language-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.language-switcher button {
  width: 40px;
  height: 28px;
  font-family: var(--font-family-syne);
  font-weight: 700;
  font-size: 16px;
  padding: 4px 6px;
}

.active {
  border: 2px solid var(--secondary-color);
}

.logo-icon {
  width: 60px;
  height: 30px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
}

.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.name-container p {
  font-family: var(--font-family-overpass);
  font-weight: 700;
  font-size: 48px;
  color: var(--secondary-color);
}

.divider {
  border-bottom: 3px solid black;
  width: 674px;
}

.hero-section {
  height: 90dvh;
  padding-top: 112px;
}

.hero-bottom-container {
  display: flex;
  justify-content: space-between;
}

.hero-bottom-container p {
  font-family: var(--font-family-overpass);
  font-weight: 300;
  font-size: 22px;
  color: black;
}

.hero-bottom-container a {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-orientation: mixed;
  display: inline-block;
  font-family: var(--font-family-overpass);
  font-weight: 300;
  font-size: 22px;
  color: black;
}

.scroll-down-indicator {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.scroll-down-arrow {
  width: 96px;
  height: 160px;
  position: relative;
  overflow: hidden;
}

.scroll-down-arrow img {
  width: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: slideDown 2s linear infinite;
}

.about-me-section {
  height: 90dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.about-me-container {
  display: flex;
  justify-content: center;
  padding-top: 48px;
}

.about-me-content {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.about-me-content p {
  font-family: var(--font-family-overpass);
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  color: black;
}

.about-me-info-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.info-content {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.profile-picture {
  width: 533px;
  height: 533px;
}
/* #endregion Reusable Components */

/* =========================
  Decorative Arrows
  ========================= */
/* #region Decorative Arrows */
.arrow-left-container,
.arrow-right-container {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 24px;
  margin-bottom: 80px;
}

.arrow-left-container {
  justify-content: flex-end;
}

.arrow-right-container {
  justify-content: flex-start;
}
/* #endregion Decorative Arrows */

/* =========================
  Main Sections
  ========================= */
/* #region Main Sections */

.skills-section {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 4px solid black;
  padding: 120px 114px;
  text-align: center;
  scroll-margin-top: 100px;
}

.skills-section h2 {
  position: absolute;
  top: -60px;
  background-color: var(--primary-color);
  padding: 4px;
}

.skills-grid {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 128px;
}

.skill-item {
  width: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.skill-item img {
  filter: grayscale(100%);
}

.skill-item p {
  font-family: var(--font-family-overpass);
  font-weight: 700;
  font-size: 16px;
  line-height: 120%;
  color: black;
}

.ready-to-learn-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 10px;
}

.ready-to-learn-container img {
  height: 75px;
  width: 100px;
}

.ready-to-learn-container p,
.ready-to-learn-container a {
  font-family: var(--font-family-overpass);
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
}

.ready-to-learn-container p {
  color: black;
  padding-bottom: 8px;
}

.ready-to-learn-container a {
  color: var(--secondary-color);
}

.portfolio-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  scroll-margin-top: 100px;
}

.portfolio-section p {
  font-family: var(--font-family-overpass);
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  color: black;
  text-align: center;
}

.project-container {
  padding-top: 120px;
  display: flex;
  flex-direction: column;
  gap: 87px;
}

.project-screenshot {
  width: 620px;
  height: 395px;
}

.project-item {
  display: flex;
  gap: 10px;
}

.project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.portfolio-section .project-number {
  font-family: var(--font-family-syne);
  font-weight: 700;
  font-size: 48px;
  line-height: 120%;
  color: black;
}

.project-number-container {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.portfolio-section .project-skills {
  font-family: var(--font-family-overpass);
  font-weight: 400;
  font-size: 23px;
  line-height: 120%;
  color: var(--secondary-color);
}

.flex-row-reverse {
  flex-direction: row-reverse !important;
}

.justify-content-start {
  justify-content: flex-start !important;
}

.references-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 120px;
  gap: 32px;
}

.references-section > p {
  font-family: var(--font-family-overpass);
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
  color: black;
}

.references-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  gap: 24px;
}

.reference-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 4px black;
  padding: 24px 16px;
  gap: 8px;
  flex: 1;
}

.reference-item:hover {
  border-color: var(--secondary-color);
}

.reference-item:hover img {
  filter: invert(53%) sepia(87%) saturate(452%) hue-rotate(119deg)
    brightness(95%) contrast(101%);
}

.reference-contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.contact-and-footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  color: white;
  clip-path: polygon(0 0, 100% 15%, 100% 100%, 0 100%);
  padding-top: 100px;
  padding-left: 100px;
  padding-right: 100px;
}

.contact-and-footer-content {
  width: 100%;
  max-width: 1920px;
}

.contact-section h2 {
  color: white;
}

.contact-name {
  font-family: var(--font-family-syne);
  font-weight: 700;
  font-size: 22px;
  line-height: 120%;
}

.relationship {
  font-family: var(--font-family-overpass);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
}

.reference-text {
  font-family: var(--font-family-overpass);
  font-weight: 400;
  font-size: 18px;
  line-height: 120%;
  text-align: start;
}

.contact-headline {
  font-family: var(--font-family-overpass);
  font-weight: 700;
  font-size: 32px;
  line-height: 120%;
  color: var(--secondary-color);
}

.contact-animation {
  font-family: var(--font-family-overpass);
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
}

.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 64px;
  gap: 16px;
}

.contact-container form {
  width: 620px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
/* #endregion Main Sections */

/* =========================
  Form Fields
  ========================= */
/* #region Form Fields */
:is(input, textarea) {
  width: 100%;
  font-family: var(--font-family-overpass);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  border: none;
  outline: none;
  color: var(--primary-color);
  background-color: black;
  padding: 15px 25px;
  border-bottom: 2px solid var(--primary-color);
}

:is(input, textarea):hover {
  outline: 4px solid var(--primary-color);
  outline-offset: -4px;
}

:is(input, textarea):focus {
  outline: 2px solid var(--primary-color);
  outline-offset: -2px;
}

:is(input, textarea)::placeholder {
  color: var(--primary-color);
}

.input-group {
  position: relative;
}

.input-group label {
  font-family: var(--font-family-overpass);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  position: absolute;
  left: 25px;
  top: 10px;
  color: var(--primary-color);
  background-color: black;
  transition: 0.2s ease-out;
  pointer-events: none;
}

.input-group input:focus + label,
.input-group input:not(:placeholder-shown) + label,
.input-group textarea:focus + label,
.input-group textarea:not(:placeholder-shown) + label {
  left: 16px;
  top: -9px;
}

.error-message {
  font-family: var(--font-family-overpass);
  font-weight: 400;
  font-size: 12px;
  line-height: 120%;
  color: var(--quaternary-color);
  padding-top: 8px;
  visibility: hidden;
}

.agree-container {
  display: flex;
  align-items: center;
  gap: 4px;
}

.agree-container p {
  font-family: var(--font-family-overpass);
  font-weight: 400;
  font-size: 14px;
  line-height: 120%;
  color: var(--primary-color);
}

.agree-container a {
  color: var(--secondary-color);
}

.send-message-button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}

.send-message-button {
  border: 4px solid var(--tertiary-color);
  color: var(--tertiary-color);
  background-color: black;
  box-shadow: 5px 5px 15px 0px rgba(0, 0, 0, 0.15);
  opacity: 0.5;
}
/* #endregion Form Fields */

/* =========================
  Footer
  ========================= */
/* #region Footer */
.footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-left-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
  padding-bottom: 40px;
}

.footer-left-container img {
  filter: invert(100%);
}

.footer-left-container p {
  font-family: var(--font-family-overpass);
  font-weight: 400;
  font-size: 22px;
  line-height: 120%;
}

.footer-right-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
  gap: 16px;
  padding-bottom: 20px;
}

.footer-right-container a {
  font-family: var(--font-family-overpass);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: var(--primary-color);
}

.social-media-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 42px;
}
/* #endregion Footer */

/* =========================
  Animations
  ========================= */
/* #region Animations */
@keyframes slideDown {
  0% {
    top: -160px;
  }
  50% {
    top: 100%;
  }
  100% {
    top: 100%;
  }
}

@keyframes burger-open {
  0% {
    background-image: url("assets/imgs/burger-menu/burger-menu-frame-1.svg");
  }
  25% {
    background-image: url("assets/imgs/burger-menu/burger-menu-frame-2.svg");
  }
  50% {
    background-image: url("assets/imgs/burger-menu/burger-menu-frame-3.svg");
  }
  75% {
    background-image: url("assets/imgs/burger-menu/burger-menu-frame-4.svg");
  }
  100% {
    background-image: url("assets/imgs/burger-menu/burger-menu-frame-5.svg");
  }
}

@keyframes border-flow {
  0% {
    clip-path: inset(74% 94% 0% 0%);
  } /* Ecke links */
  50% {
    clip-path: inset(98% 0% 0% 0%);
  } /* Ganze Linie */
  100% {
    clip-path: inset(97.8% 0% 0% 56%);
  } /* Teil rechts */
}

/* #endregion Animations */

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100dvh;
  background-color: var(--primary-color);
  z-index: 999;
  transform: translateY(100%);
  transition: transform 0.5s cubic-bezier(0.77, 0, 0.175, 1);
}

.menu-overlay.is-open {
  transform: translateY(0);
}

.no-scroll {
  overflow: hidden;
}

.menu-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu-links {
  margin-top: 93px;
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 35px;
}

.menu-link {
  width: 580px;
  height: 168px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: var(--font-family-syne);
  font-weight: 700;
  font-size: 96px;
  line-height: 97.5%;
  color: black;
}

.menu-link::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 4px solid black;
  clip-path: inset(74% 94% 0% 0%);
  transition: clip-path 0.6s ease-in-out;
}

.menu-link:hover::after {
  animation: border-flow 0.3s forwards;
}

.menu-link:active::after {
  animation: none;
  clip-path: inset(0% 0% 0% 0%);
}

.menu-footer h2 {
  color: var(--primary-color);
}

.menu-footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 64px 100px 64px;
  background: black;
  color: white;
  clip-path: polygon(0 0, 100% 50%, 100% 100%, 0 100%);
}

.menu-footer-content {
  width: 100%;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.menu-footer-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 16px;
}

.menu-footer-left a {
  font-family: var(--font-family-overpass);
  font-weight: 300;
  font-size: 23px;
  color: var(--primary-color);
}

.menu-social-icons {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 42px;
}
