:root {
  --primary-color: rgb(255, 252, 243);
  --secondary-color: rgb(0, 188, 143);
  --font-family-syne: "Syne", sans-serif;
  --font-family-syneExtraBold: "SyneExtraBold", sans-serif;
  --font-family-overpass: "Overpass", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary-color);
  padding-left: 100px;
  padding-right: 100px;
}

h1 {
  font-family: var(--font-family-syneExtraBold);
  font-weight: 800;
  font-size: 128px;
  color: black;
  text-align: center;
  line-height: 97.5%;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: black;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container {
  width: 100%;
  height: 92px;
  max-width: 1920px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

.language-switcher {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.language-switcher button {
  width: 40px;
  height: 28px;
  font-family: var(--font-family-syne);
  font-weight: 700;
  font-size: 16px;
  padding: 4px 6px;
}

.active {
  border: 2px solid var(--secondary-color);
}

.logo-icon {
  width: 60px;
  height: 30px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background: none;
  cursor: pointer;
  text-align: center;
}

.name-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
}

.name-container p {
  font-family: var(--font-family-overpass);
  font-weight: 700;
  font-size: 48px;
  color: var(--secondary-color);
}

.divider {
  border-bottom: 3px solid black;
  width: 674px;
}

.hero-section {
  margin-top: 112px;
}

.hero-bottom-container {
  display: flex;
  justify-content: space-between;
}

.hero-bottom-container p {
  font-family: var(--font-family-overpass);
  font-weight: 300;
  font-size: 22px;
  color: black;
}

.hero-bottom-container a {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  text-orientation: mixed;
  display: inline-block;
  font-family: var(--font-family-overpass);
  font-weight: 300;
  font-size: 22px;
  color: black;
}

.scroll-down-indicator {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
}

.scroll-down-arrow {
  width: 96px;
  height: 160px;
  position: relative;
  overflow: hidden;
}

.scroll-down-arrow img {
  width: 50px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  animation: slideDown 2s linear infinite;
}

@keyframes slideDown {
  -0% {
    top: -160px;
  }
  50% {
    top: 100%;
  }
  100% {
    top: 100%;
  }
}
