@keyframes slideDown {
  0% {
    top: -160px;
  }
  50% {
    top: 100%;
  }
  100% {
    top: 100%;
  }
}

@keyframes burger-open {
  0% {
    background-image: url("../assets/imgs/burger-menu/burger-menu-frame-1.svg");
  }
  25% {
    background-image: url("../assets/imgs/burger-menu/burger-menu-frame-2.svg");
  }
  50% {
    background-image: url("../assets/imgs/burger-menu/burger-menu-frame-3.svg");
  }
  75% {
    background-image: url("../assets/imgs/burger-menu/burger-menu-frame-4.svg");
  }
  100% {
    background-image: url("../assets/imgs/burger-menu/burger-menu-frame-5.svg");
  }
}

@keyframes border-flow-version-1 {
  0% {
    clip-path: inset(74% 94% 0% 0%);
  }
  50% {
    clip-path: inset(98% 0% 0% 0%);
  }
  100% {
    clip-path: inset(97.8% 0% 0% 56%);
  }
}

@keyframes border-flow-version-1-mobile {
  0% {
    clip-path: inset(74% 94% 0% 0%);
  }
  50% {
    clip-path: inset(95% 0% 0% 0%);
  }
  100% {
    clip-path: inset(95% 0% 0% 56%);
  }
}

@keyframes border-flow-version-2 {
  0% {
    clip-path: inset(92% 94% 0% 20%);
  }
  50% {
    clip-path: inset(92% 0% 0% 20%);
  }
  100% {
    clip-path: inset(92% 0% 0% 50%);
  }
}

@keyframes shake-tilt {
  0% {
    transform: translateX(47px);
  }
  25% {
    transform: translateX(73px) translateY(10px);
  }
  50% {
    transform: translateX(-28px) translateY(10px);
  }
  75% {
    transform: translateX(-47px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes blinking {
  0%,
  40% {
    color: var(--h2-base-color);
  }
  50% {
    color: var(--h2-base-color);
  }
  50%,
  90% {
    color: var(--secondary-color);
  }
  100% {
    color: var(--secondary-color);
  }
}

@keyframes blinking-frame {
  0%,
  40% {
    visibility: visible;
  }
  50% {
    visibility: visible;
  }
  50%,
  90% {
    visibility: hidden;
  }
  100% {
    visibility: hidden;
  }
}

@keyframes blinking-shadow {
  0%,
  40% {
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.15);
  }
  50% {
    box-shadow: 5px 5px 15px 0 rgba(0, 0, 0, 0.15);
  }
  50%,
  90% {
    box-shadow: none;
  }
  100% {
    box-shadow: none;
  }
}
