:root {
  --primary-color: rgb(255, 252, 243);
  --secondary-color: rgb(0, 188, 143);
  --tertiary-color: rgb(187, 187, 187);
  --quaternary-color: rgb(230, 28, 64);
  --quinary-color: rgba(0, 0, 0, 1);
  --font-family-syne: "Syne", sans-serif;
  --font-family-syneExtraBold: "SyneExtraBold", sans-serif;
  --font-family-overpass: "Overpass", sans-serif;
  --icon-invert: 0;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 92px;
}

body {
  background-color: var(--primary-color);
}

h1 {
  font-family: var(--font-family-syneExtraBold);
  font-weight: 800;
  font-size: 128px;
  color: var(--quinary-color);
  text-align: center;
  line-height: 97.5%;
}

h2 {
  --h2-base-color: var(--quinary-color);
  font-family: var(--font-family-syneExtraBold);
  font-weight: 800;
  font-size: 78px;
  color: var(--h2-base-color);
  text-align: start;
}

h2:hover {
  color: var(--secondary-color);
}

h3 {
  font-family: var(--font-family-syneExtraBold);
  font-weight: 800;
  font-size: 45px;
  color: var(--quinary-color);
}

a {
  text-decoration: none;
  cursor: pointer;
  color: var(--quinary-color);
}

header {
  position: sticky;
  top: 0;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);
  padding-left: 100px;
  padding-right: 100px;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
  padding-right: 100px;
}

@media (max-width: 768px) {
  header {
    padding-left: 24px;
    padding-right: 24px;
  }

  main {
    padding-left: 24px;
    padding-right: 24px;
  }

  h1 {
    font-size: 38px;
    line-height: 100%;
  }

  h2 {
    font-size: 36px;
    animation: blinking 3s ease-in-out infinite;
  }
}
