main h1 {
  font-size: 78px;
  text-align: start;
  padding-bottom: 64px;
}

main h2 {
  font-family: var(--font-family-syneExtraBold);
  font-weight: 800;
  font-size: 24px;
  line-height: 120%;
  text-align: start;
  color: var(--secondary-color);
}

main h3 {
  font-family: var(--font-family-overpass);
  font-weight: bold;
  font-size: 16px;
  line-height: 120%;
  text-align: start;
  color: var(--secondary-color);
}

main ul {
  list-style-position: inside;
}

main li {
  font-family: var(--font-family-overpass);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
}

main p {
  font-family: var(--font-family-overpass);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  text-align: start;
}

.address-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.main-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-left: 150px;
  padding-right: 150px;
}

main a {
  text-decoration: none;
  color: var(--secondary-color);
}

main h1 {
  color: var(--secondary-color);
  padding-bottom: 16px;
}

.visible {
  visibility: visible;
}

@media (max-width: 1280px) {
  main h1 {
    font-size: 54px;
  }
}

@media (max-width: 800px) {
  main h1 {
    font-size: 48px;
  }

  .main-container {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (max-width: 600px) {
  main h1 {
    font-size: 26px;
    padding-bottom: 0;
  }
}
